<section class="container">
		<section class="row">
			<h1 class="text-center">Eat-Da-Burger</h1>
		</section>

		<section class="row">
			<img src="./../../../public/assets/img/burger.png" alt="burger" class="img-rounded img-responsive center-block">
		</section>


		<!-- Pass in data from server.js -->
		<section class="burgerOrder center-block">
		<form class="create-form" action="/" method="POST">
		  <div class="form-group">
    		<textarea type="text" class="form-control" rows="5" placeholder="Burger Order"></textarea>
		  </div>

		  <button type="submit" class="btn btn-primary">SUBMIT</button>
		</section>

		</form>


	</section>	